.topText {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 24px;
    align-self: center;
    word-wrap: break-word;
}

.topText a {
    color: #C41756  
}

.topText a:visited {
    color: #9E126B  
}

h1 {
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    align-self: center;
    word-wrap: break-word;
}

.challenger {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    font-style: italic;
    color: grey;
}

.date {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.challenge {
    margin: 4% 3%; 
    border-color: #C41756;
    border-width: 2px;
    border-style: groove;
    padding: 3% 0%;
    width: 93%;
    border-radius: 5px;
}

.profilePic {
    max-height: 100%;
}

.btn-primary {
    background-color: #C41756;
    border-color: grey;
}

.empty-text {
    color: grey;
    font-size: 24px;
    padding-top: 40px;
}